.filter__label {
    display: flex;
    margin-bottom: 8px;
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
    max-height: 100px;
    transition: all linear 0.075s;
    cursor: pointer;
    position: relative;
    padding-left: 24px;
    
    input[type="checkbox"] {
        display: none;

        & + span::before {
            font-family: bootstrap-icons!important;
            text-align: center;
            line-height: 18px;
            color: #fff;
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            background: #F5F5F5;
            border:1px solid #F5F5F5;
            border-radius: 2px;
            position: absolute;
            left: 0;
            top:0;
            transition: all linear 0.075s;
        }

        &:hover + span::before {
            border-color: #63BFC6;
        }

        &:checked + span::before {
            background-color: #63BFC6;
            border-color: #63BFC6;
            content: '\F272';
        }

        &:checked:hover + span::before {
            background-color: #6bd3db;
            border-color: #6bd3db;
        }
    }

    .events-count {
        left: 130px;
        position: absolute;
        color: #63BFC6;
        font-size: 13px;

        &::before {
            content: '';
            display: block;
            position: absolute;
            border:1px solid #63BFC6;
            width: calc(100% + 20px);
            height: 100%;
            left: -10px;
            top: 0;
            border-radius: 33px;
        }
        
    }

    &:hover .events-count {
        color: #000;
    }
} 