/* SEMINAR-ITEM */ 

.seminar_item {
    border:1px solid #EBEBEB;
    border-left-color: #fff;
    border-top-color: #fff;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    transition: background ease-in 0.15s;

    &:hover {
        background: rgb(253, 253, 253);
    }

    &__right-col {
        position: absolute;
        max-width: calc(30% - 30px);
        top: 25px; right: 25px; bottom: 25px;
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 1;
    }

    &__seminar-avatar {
        height: 120px;
        flex: 0 0 120px;
        overflow: hidden;
        border-radius: 6px;
        opacity: 1;
    }

    &__seminar-avatar img {
        max-width: 100%;
    }

    &__call-me-btn {
        width: 100%;
        padding: 10px 20px;
        position: absolute;
        top: 130px;
        transform: scaleY(0);
        transition: all linear 0.1s;
    }

    &:hover &__seminar-avatar  {
        height: 70px;
        flex: 0 0 70px;
        opacity: 0.5;
    }

    &:hover &__call-me-btn {
        transform: scaleY(1);
        top: 100px;
    }

    &__header {
        display: flex;
        flex-direction: row;
        line-height: 22px;
        flex:0 0 70%;
        max-width: 70%;
    }
    &__body {
        flex: 0 0 70%;
        max-width: 70%;
        margin-bottom: 20px;
    }

    &__title {

        a {
            font-size: 20px;
            line-height: 26px;
            font-weight: bold;
            text-decoration: none;
            color: #2E2E2E;
            display: block;
            margin: 10px 0;

            // &::before {
            //     content: '';
            //     display: block;
            //     position: absolute;
            //     width: 100%;
            //     height: 100%;
            //     left: 0;
            //     top: 0;
            //     z-index: 1;
            // }
        }
    }

    &__date {
        font-size: 16px;
        margin-right: 5px;
        padding: 5px 5px 5px 0;
    }

    &__day {
        font-size: 16px;
        color: #818181;
        margin-right: 10px;
        padding: 5px 10px 5px 0;
    }

    &__watch-count {
        margin-right: 20px;
    }

    &__specs,
    &__cats {
        margin-right: 10px;
    }

    &__footer {
        display: flex;
        flex-direction: row;
        flex: 0 0 70%;
        max-width: 70%;
    }

    &__tags {
        margin-left: auto;
    }

    &__cicle {
        margin-left: auto;
    }
    

    .speakers__text {
        padding: 5px 15px; 
        border: 1px solid #F5F5F5;
        border-radius: 22px;
        color: #818181;
        cursor: pointer;
    
        &:hover {
            background: #F5F5F5;
        }
    }

    &__cicle {
        margin-left: auto;
        padding: 5px 15px;
    }

    @media (max-width: 600px) {
        padding: 25px 15px;
    
        &__header {
            flex: 0 0 100%;
            max-width: 100%;
        }
    
        &__body {
            flex: 0 0 65%;
            max-width: 65%;
        }
    
        &__pic {
            max-width: 30%;
            max-height: none;
            right: 15px;
            top: 75px;
        }
    
        &__cats,
        .seminar-item__specs {
            display: none;
        }
    
        &__footer {
            flex:0 0 100%;
            max-width: 100%;
        }
    }
}