.filter {
    margin-bottom: 35px;
    

    &__heading {
        font-size: 18px;
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
    }

    &__labels-wrapper {
        overflow-y: scroll;

        b {
            display: block;
            margin-bottom: 5px;    
        }
    }

    .hidden {
        visibility: hidden;
        opacity: 0;
        transform: scaleY(0);
        max-height: 0;
        overflow: hidden;
        margin: 0 !important;
    }
    
    &__search-field {
        margin: 10px 0;
        transition: all linear 0.1s;
    }

    button {
        margin-top: 10px;
        background: transparent;
        border:none;
        outline: none;
        padding: 0;
        text-align: left;
        color:#63BFC6;
        cursor: pointer;
    }

    .form-check-input {
        background: #F5F5F5;
        border-radius: 2px; 
        border:none;
        margin-right: 7px;
    }
}